<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-id" type="hidden" name="id" value="{$id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">审批意见:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-result" data-rule="" class="form-control " rows="8" name="result" cols="50"></textarea>
        </div>
    </div>
    
    <br/>
    <div class="form-group"><!-- layer-footer -->
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8" style="text-align: center;">
            <!-- <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button> -->
            <button type="button"  data-status="1" class="check btn btn-success btn-embossed">审核通过</button>
            <button type="button"  data-status="2" class="check btn btn-warning btn-embossed">审核拒绝</button>
        </div>
    </div>
</form>
