<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {if condition="$admin.type eq 1"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('所属城市')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_id" data-rule="required" data-field="city" data-source="recruit/opencity/index" class="form-control selectpage" name="row[city_id]" type="text" value="{$row.city_id}">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('企业类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                <option value="1" {if condition="$row.type eq 1"}selected{/if}>知名企业</option>
                <option value="2" {if condition="$row.type eq 2"}selected{/if}>最新企业</option>
                <option value="3" {if condition="$row.type eq 3"}selected{/if}>高薪急聘</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" data-rule="required" class="form-control" name="row[tel]" type="text" value="{$row.tel}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no" data-rule="required" class="form-control" name="row[no]" type="text" value="{$row.no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('剩余发布次数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-job_count" data-rule="required" class="form-control" name="row[job_count]" type="number" value="{$row.job_count}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Xinzhi')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-xinzhi" data-rule="required" class="form-control selectpicker" name="row[xinzhi]">
                {foreach name="xinzhiList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.xinzhi"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Adress')}:</label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-primary" data-toggle='addresspicker' data-input-id="address" data-lng-id="lng" data-lat-id="lat">点击选择地址获取经纬度</button>
            <input type="text" class="form-control" name="row[adress]" id="address" placeholder="地址" value="{$row.adress|htmlentities}">
            <input type="text" class="form-control" name="row[lng]" id="lng" placeholder="经度" value="{$row.lng|htmlentities}">
            <input type="text" class="form-control" name="row[lat]" id="lat" placeholder="纬度" value="{$row.lat|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Adress')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-adress" class="form-control" name="row[adress]" type="text" value="{$row.adress}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cimage" data-rule="required" class="form-control" size="50" name="row[cimage]" type="text" value="{$row.cimage}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-cimage" class="btn btn-danger plupload" data-input-id="c-cimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-cimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cimage" class="btn btn-primary fachoose" data-input-id="c-cimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-cimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cimages')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cimages" class="form-control" size="50" name="row[cimages]" type="text" value="{$row.cimages}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-cimages" class="btn btn-danger plupload" data-input-id="c-cimages" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-cimages"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cimages" class="btn btn-primary fachoose" data-input-id="c-cimages" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cimages"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-cimages"></ul>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-source="user/user" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
