<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add,edit,del')}
  
                        <div class="dropdown btn-group {:$auth->check('leescoregoods/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-exchange"></i> {:__('move to')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                {volist name="options" id="vo"}
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="category_id={$vo.id}"><i class="fa fa-eye"></i> {$vo.name}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('scoregoods/edit')}" 
                           data-operate-del="{:$auth->check('scoregoods/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
