<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_id" data-rule="required" data-source="recruit/company/index" class="form-control selectpage" name="row[c_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="" class="form-control" name="row[name]" type="hidden" value="">
            <input id="c-jd_id" data-rule="required" data-source="job_dictionaries/index" class="form-control selectpage" name="row[jd_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Age')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-age" data-rule="required" class="form-control selectpicker" name="row[age]">
                {foreach name="ageList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stay')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-stay" data-rule="required" class="form-control selectpicker" name="row[stay]">
                {foreach name="stayList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Food')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-food" data-rule="required" class="form-control selectpicker" name="row[food]">
                {foreach name="foodList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Safe')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-safe" data-rule="required" class="form-control selectpicker" name="row[safe]">
                {foreach name="safeList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Neednum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-neednum" class="form-control" name="row[neednum]" type="number">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_id" data-rule="required" data-field="city" data-source="recruit/opencity/index" class="form-control selectpage" name="row[city_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Education')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-education" data-rule="required" class="form-control selectpicker" name="row[education]">
                {foreach name="educationList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">薪资标准:</label>
        <div class="col-xs-12 col-sm-8 slider_double" style="left: 2%;" >
            <input class="form-control slider_double" style="width: 95%;" name="row[gold]"
            id="ex13" type="text" data-provide="slider" 
            data-slider-ticks="[3000, 4000, 5000, 6000, 7000,8000, 9000, 10000]" data-slider-ticks-snap-bounds="30" 
            data-slider-step="500"
            data-slider-ticks-labels='["3000及以内", "4000", "5000", "6000", "7000", "8000", "9000", "10000及以上"]'
            data-slider-value="[3000,5000]"
            />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-source="user/user" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
