<import src="/assets/libs/towxml/entry.wxml" />

<!-- 首先是首页的图片 -->
<view class='imtop'>
  <view class="titlen centerT zan-font-bold zan-font-16">{{info.name}}</view>
  <view style="color:#666;" class="centerT zan-font-12">{{info.labor_name}}</view>

  <view class='jiaonaol'>
     <zan-capsule color="#DE3639" leftText="结算周期" rightText="{{info.settlement_type}}" />
     <zan-capsule color="#DE3639" leftText="招聘人数" rightText="{{info.user_num}}" />
     <zan-capsule color="#DE3639" leftText="薪资待遇" rightText="{{info.price}}/小时" />
  </view>
</view>

<view class='OneConte'>
  <view class='contiel zan-font-bold zan-font-16'>
          <i class="fa fa-indent fa-fw"></i>
      岗位介绍
  </view>
  <view style='position: relative; overflow: hidden'>
    <zan-cell-group>
      <zan-cell class="xinshui" title="工资薪水" >
      <zan-icon slot="icon" type="balance-pay"></zan-icon>
      <view slot="footer" class="xinshui" >{{info.price}}/小时</view>
      </zan-cell>
      <zan-cell title="招聘人数" value="{{info.user_num}}"> </zan-cell>  
      <zan-cell title="发布时间" value="{{info.createtime}}"> </zan-cell>   
    </zan-cell-group>
  </view>
  
  <zan-panel class="panel-example"  wx:if="{{comjob.content != '' }}">
    <view style="padding: 15px 15px 5px;">更多职位描述</view>
    <view class="zan-font-12" style="padding: 0 15px 15px; color:#666;">
      <template is="entry" data="{{...info.content}}" />
    </view>
  </zan-panel>

</view>

<!-- S 报名 -->
<view wx:if="{{identify_status!=1}}">
  <view style="font-size:18px;text-align:center;color:red;margin-top:20px;">您当前还未实名认证，无法报名！</view>
  <view style="text-align:center;color:green;"><navigator url="/page/my/identify"><text>去认证>></text></navigator></view>
</view>
<view wx:elif="{{info.isBaoming}}" style="text-align:center;font-size:21px;line-height:50px;color:green;margin-top:30px;">您已报名该职位</view>
<view wx:else>
  <form bindsubmit="formSubmit" bindreset="formReset">

   <zan-panel title="报名信息">
    <view class='zan-field' style='position:relative;display:flex;align-items:center;line-height:1.4;background-color:#fff;font-size:14px;margin-left:10px;border-bottom:1px solid #e5e5e5;'>
      <view class="zan-cell__hd zan-field__title" style='margin:0 0 0 -10px;'> 输入姓名: </view>
      <input class="weui-input intptel" type="text" maxlength="20" name="name" value=''
          placeholder="报名人姓名" />
    </view>
    <view class='zan-field' style='position:relative;display:flex;align-items:center;line-height:1.4;background-color:#fff;font-size:14px;margin-left:10px;border-bottom:1px solid #e5e5e5;'>
      <view class="zan-cell__hd zan-field__title" style='margin:0 0 0 -10px;'> 手机号码: </view>
      <input class="weui-input intptel" type="number" maxlength="20" name="phone" value='{{phoneNumber}}'
          placeholder="报名人联系电话" />
      <button class='phtb' open-type="getPhoneNumber" bindgetphonenumber="getPhoneNumber">自动获取</button>
    </view>
   </zan-panel>
   <view class="zan-btns">
      <button formType="submit" class='zan-btn' style='color:#fff;background-color:#DE3639;'>提交报名</button>
   </view>

  </form>
</view>  
  <!-- E 报名 -->

<include src="../zh_other/foot_right.wxml"/>
<zan-dialog id="zan-dialog-test"></zan-dialog>
<zan-toptips
  id="zan-toptips"
  content="{{ content }}"
  is-show="{{ $zanui.toptips.show }}"
/>