
<view class="container">
<view style='position: relative; overflow: hidden' wx:if="{{status==1}}">
  <view style="text-align:center;font-size:21px;line-height:50px;">
      <text style="color:blue;" wx:if="{{userInfo.identify_status<=0}}">审核中</text>
      <text style="color:green;" wx:elif="{{userInfo.identify_status==1}}">通过审核</text>
      <text style="color:red;" wx:else>审核被拒</text>   
  </view>
  <zan-cell-group>
    <zan-cell title="姓名" value="{{userInfo.username}}"></zan-cell>
    <zan-cell title="身份证" value="{{userInfo.idcard}}"></zan-cell>
    <zan-cell title="手机号码" value="{{userInfo.mobile}}"></zan-cell>
    <zan-cell title="身份证正面" value="">
      <image src="{{userInfo.idcard_img_front}}"></image>
    </zan-cell>
    <zan-cell title="身份证反面" value="">
      <image src="{{userInfo.idcard_img_backend}}"></image>
    </zan-cell>
  </zan-cell-group>
  <view class="zan-btns" wx:if="{{userInfo.identify_status==2}}">
    <button  class='zan-btn' bindtap="edit" style='color:#fff;background-color:#DE3639;'>重新上传</button>
  </view>
</view>
<form bindsubmit="formSubmit" wx:else>
  <view class="zan-panel">
    
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">姓名</view>
      <input type="text" name="username" value="{{userInfo.username}}" placeholder="请输入姓名" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">身份证</view>
      <input type="text" name="idcard" value="" placeholder="请输入身份证号码" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">手机号码</view>
      <input wx:if="{{userInfo.mobile!=''&&userInfo.mobile!='NoLoginData'}}" type="text" name="mobile" disabled="disabled" value="{{userInfo.mobile}}" placeholder="请输入手机号码" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
      <view wx:else><navigator url="login?bind=1"><text style="color:red;">未绑定手机号码,去绑定>></text></navigator></view>
    </view>

    <view class="zan-cell zan-field">
      <input type="text" hidden="{{ true }}" name="idcard_img_front" value="{{idcard_img_front}}" />
      <view class="zan-cell__hd zan-field__title">身份证正面</view>
    </view>
    <view class="zan-cell zan-field">
      <image class="my-avatar" bindtap="uploadFront" src='{{add_img_front}}'></image>
    </view>
    <view class="zan-cell zan-field">
      <input type="text" hidden="{{ true }}" name="idcard_img_backend" value="{{idcard_img_backend}}" />
      <view class="zan-cell__hd zan-field__title">身份证反面</view>
    </view>
    <view class="zan-cell zan-field"> 
      <image class="my-avatar" bindtap="uploadBackend" src='{{add_img_backend}}'></image>
    </view>
    <view class="zan-cell zan-field" style="font-size: 12px;"> 提交视为您已同意<navigator url="/page/zh_news/index?id=8" style="color: blue;">用户协议和隐私政策</navigator></view>
  </view>

  <view class="zan-btns">
    <button formType="submit" class='zan-btn' style='color:#fff;background-color:#DE3639;'>提交</button>
  </view>
</form>
</view>
