<view class="container">
<form bindsubmit="formSubmit2">
  <view class="zan-panel">
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">手机号码</view>
      <input type="number" bindinput="bindKeyMobile" name="mobile" value="" placeholder="请输入手机号码" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
      <button class='phtb' bindtap="sendCode" >获取验证码</button>
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">验证码</view>
      <input type="text" name="captcha" value="" placeholder="请输入验证码" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
  </view>

  <view class="zan-btns">
    <button formType="submit" class='zan-btn' style='color:#fff;background-color:#DE3639;'>提交绑定</button>
  </view>

  <view style="margin-top:30px;color:red;padding:20px;">注：只有劳务工和推广员才有权登入！</view>
</form>
</view>