
<div class="clearfix"></div>

<!-- 暂时取消对移动端的支持 -->
<!-- <div class="visible-xs">
	<br>
	<br>
	<nav class="bottom-nav">
		<div class="visible-xs nav-bottom-mobile text-center">
			<div class="col-xs-4 no-padding">
				<a href="{:addon_url('leescore/index')}"><i class="fa fa-home"></i> {:__('Home')}</a>
			</div>
			<div class="col-xs-4 no-padding">
				<a href="{:addon_url('leescore/order')}"><i class="fa fa-shopping-cart"></i> {:__('store order')}</a>
			</div>
			<div class="col-xs-4 no-padding">
				<a href="{:url('index/user/index')}"><i class="fa fa-user-circle"></i> {:__('User center')}</a>
			</div>
		</div>
	</nav>
</div> -->

<div class="cart-fix-box">
	<a href="{:addon_url('leescore/cart/index')}">
		<div class="cart-fix">
			<i class="fa fa-cart-plus fa-4x hidden-xs"></i> 
			<i class="fa fa-cart-plus fa-2x visible-xs"></i> 
		</div>
	</a>
</div>

<div class="hidden-xs">
	<footer class="foot-leescore clearfix">
	    <p>Copyright&nbsp;©&nbsp;{$site.name} <?php echo date('Y',time());?>. All Rights Reserved. <a href="http://www.miibeian.gov.cn" target="_blank">{$site.beian}</a></p>
	</footer>
</div>