<script type="text/javascript" src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- jQuery Cookie -->
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- Jquery.touchSwipe -->
<script src="https://cdn.staticfile.org/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>

<script src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
<script src="__ADDON__/js/cart.js"></script>