<div class="sidenav radius-none hidden-xs">
    <ul class="list-group">
        <li class="list-group-heading">{:__('address manage')}</li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq 'address'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/address/index',array('listType' => 'address'))}"><i class="fa fa-map-marker"></i> {:__('address list')}</a> </li>
        <!-- 购物车 -->
            <li class="list-group-heading">{:__('manage cart')}</li>
            <li {if condition="input('?get.listType') AND input('get.listType') eq 'cart'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/cart/index',array('listType' => 'cart'))}"><i class="fa fa-cart-arrow-down"></i> {:__('my cart')}</a> </li>
        <!-- ./ 购物车 -->
        <br>
        <li class="list-group-heading">{:__('store order')} </li>
        <li {if condition="!input('?get.listType') OR input('get.listType') eq ''"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => ''))}"><i class="fa fa-user-circle"></i> {:__('all order')}</a> </li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq '0'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => 0))}"><i class="fa fa-user-o"></i>  {:__('unpaid')}</a> </li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq '1'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => 1))}"><i class="fa fa-user-o"></i>  {:__('paid')}</a> </li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq '2'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => 2))}"><i class="fa fa-key"></i> {:__('shipped')}</a> </li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq '3'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => 3))}"><i class="fa fa-sign-out"></i> {:__('sign for')}</a> </li>
        <li {if condition="input('?get.listType') AND input('get.listType') eq '-2'"}class="list-group-item active" {else /}class="list-group-item"{/if}> <a href="{:addon_url('leescore/order/index',array('listType' => -2))}"><i class="fa fa-sign-out"></i> {:__('admin faild')}</a> </li>
    </ul>
</div>
<div class="visible-xs">
    <nav id="mainNav" class="navbar navbar-inverse radius-none navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- <div class="navbar-header text-center" class="navbar-toggle collapsed radius-none" data-toggle="collapse" data-target="#navbar-collapse-menu-bottom">
                <button type="button" style="float: inherit" class="navbar-toggle collapsed radius-none" data-toggle="collapse" data-target="#navbar-collapse-menu-bottom">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-up"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar text-white"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->

            <div class="collapse navbar-collapse" id="navbar-collapse-menu-bottom">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="/">{:__('Home')}</a></li> -->
                    <li> <a href="{:addon_url('leescore/cart/index',array('listType' => 'cart'))}"><i class="fa fa-cart-arrow-down"></i> {:__('my cart')}</a></li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => ''))}"><i class="fa fa-user-circle"></i> {:__('all order')}</a> </li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => 0))}"><i class="fa fa-user-o"></i>  {:__('unpaid')}</a> </li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => 1))}"><i class="fa fa-user-o"></i>  {:__('paid')}</a> </li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => 2))}"><i class="fa fa-key"></i> {:__('shipped')}</a> </li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => 3))}"><i class="fa fa-sign-out"></i> {:__('sign for')}</a> </li>
                    <li> <a href="{:addon_url('leescore/order/index',array('listType' => -2))}"><i class="fa fa-sign-out"></i> {:__('admin faild')}</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>