<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row1"><input id="row1" name="row[type]" type="radio" value="focus" {if condition="$row.type eq 'focus'"} checked="checked" {/if} /> 首页展示页</label> 
                <label for="row2"><input id="row2" name="row[type]" type="radio" value="train" {if condition="$row.type eq 'train'"} checked="checked" {/if}/> 技能培训页</label> 
                <label for="row3"><input id="row3" name="row[type]" type="radio" value="help" {if condition="$row.type eq 'help'"} checked="checked" {/if}/> 操作说明类文档</label> 
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="c-baoming" class="control-label col-xs-12 col-sm-2">{:__('Baoming')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="baomingList" item="vo"}
                <label for="row[baoming]-{$key}"><input id="row[baoming]-{$key}" name="row[baoming]" type="radio" value="{$key}" {in name="key" value="$row.baoming"}checked{/in} /> {$vo}</label> 
                {/foreach}
            </div>

        </div>
    </div> -->
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">滚动图文字:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" placeholder="图片建议长宽：900*500px" data-rule="" class="form-control" size="50" name="row[image]" type="text" value="{$row.image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group hidden">
        <label for="c-url" class="control-label col-xs-12 col-sm-2">{:__('Url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" data-rule="" class="form-control" name="row[url]" type="text" value="{$row.url}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="" class="form-control editor" rows="15" name="row[content]" cols="50">{$row.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
                {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
