/* page/zh_active/myActive.wxss */
.onejobs_c{
  background-color: white ;
  margin-bottom: 18rpx;
  padding: 20px 20px;
}
zan-col text{
  display: block;
}
.j_name{
  font-size: 1.2em;
  color: black;
}
.j_cont,.j_com{
  font-size: 0.88em;
  color: #999;
}
.j_com{
  margin-top: 1em;
}
.j_pric{
  font-size: 1.2em;
  font-weight: bold;
  color: #DE3639;
  text-align: right;
}
.j_qita{
  margin-top: 2.4em;
  font-size: 0.9em;
  color: #999;
  text-align: right;
}
.abt{
  color:#fff;
  background-color:#DE3639;
  padding-left:5px;
  padding-right: 5px;
  font-size:12px;
  line-height:25px;
}