<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('group[]', $groupdata, null, ['class'=>'form-control selectpicker', 'multiple'=>'', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="username" name="row[username]" value="" data-rule="required;username" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="email" class="form-control" id="email" name="row[email]" value="" data-rule="required;email" />
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="nickname" name="row[nickname]" autocomplete="off" value="" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="password" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="" data-rule="required;password" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">管理员类型:</label>
        <div class="col-xs-12 col-sm-8">
           <select id="type" name="row[type]" style="height: 30px;">
               <option value="0">请选择</option>
               {if condition="$admin.type eq 1"}
               <option value="1">总公司</option>
               <option value="2">区域服务商</option>
               <option value="4">企业</option>
               {/if}
               <option value="3">劳务公司</option>   
               <!-- <option value="5">培训机构</option> -->
           </select>
        </div>
    </div>
    <div class="form-group sgp" id="d-service_id" style="display: none;">
        <label for="c-service_id" class="control-label col-xs-12 col-sm-2">所属服务商:</label>
        <div class="col-xs-12 col-sm-8">
           <input id="c-service_id" data-rule="" data-field="name"  data-source="recruit_service/index" class="form-control selectpage" name="row[service_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group sgp" id="d-labor_id" style="display: none;">
        <label for="password" class="control-label col-xs-12 col-sm-2">所属劳务公司:</label>
        <div class="col-xs-12 col-sm-8">
           <input id="c-labor_id" data-rule="" data-field="name"  data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group sgp" id="d-company_id" style="display: none;">
        <label for="c-company_id" class="control-label col-xs-12 col-sm-2">所属企业:</label>
        <div class="col-xs-12 col-sm-8">
           <input id="c-company_id" data-rule="" data-field="name"  data-source="recruit/company/index" class="form-control selectpage" name="row[company_id]" type="text" value="">
        </div>
    </div>
    <!-- <div class="form-group sgp" id="d-training_id" style="display: none;">
        <label for="c-training_id" class="control-label col-xs-12 col-sm-2">所属培训机构:</label>
        <div class="col-xs-12 col-sm-8">
           <input id="c-training_id" data-rule="" data-field="name"  data-source="recruit_labor/index" class="form-control selectpage" name="row[training_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>