
<import src="/assets/libs/zanui/loadmore/index.wxml" />
<view  style="margin-top: 5rpx;">
  <view class="yj">
    <zan-row>
      <zan-col col="12"><view style="background:green;color:#ffffff;padding:10px;"><text>{{bandNum}} \n 绑定人数</text></view></zan-col>
      <zan-col col="12"><view style="background:green;color:#ffffff;padding:10px;"><text>{{money}} \n 本月绑定</text></view></zan-col>
    </zan-row>
  </view>
  

  <view class="wlist" wx:for="{{list}}">
    <zan-row>
      <zan-col col="6"><text>{{item.name}}</text></zan-col>
      <zan-col col="6"><text>{{item.phone}}</text></zan-col>
      <zan-col col="6"><text>{{item.statusName}}</text></zan-col>
      <zan-col col="6">
        <button wx:if="{{item.status!=3}}" class="abt" data-id="{{item.id}}" bindtap="sureLeave">离职</button>
      </zan-col>
    </zan-row>
  </view>
</view>

<!-- S 加载更多 -->
<template is="zan-loadmore" data="{{ loading: loading }}" />
<template is="zan-loadmore" data="{{ nodata: nodata }}" />
<template is="zan-loadmore" data="{{ nomore: nomore }}" />
<!-- E 加载更多 -->

