/* page/agent/worker.wxss */
.yj{
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  margin: 10px;
}
.wlist{
  text-align: center;
  font-size: 14px;
  background: #ffffff;
  margin-top: 2px;
  line-height: 35px;
  padding:10px;
}
.abt{
  color:#fff;
  background-color:#DE3639;
  padding-left:5px;
  padding-right: 5px;
  font-size:12px;
  line-height:35px;
  width: auto;
}