<import src="/assets/libs/towxml/entry.wxml" />

<!-- 首先是首页的图片 -->
<!-- <view class='imtop' style="padding: 10px;">
  <zan-row>
    <zan-col col="14" style="font-size: 21px;line-height: 35px;">{{comjob.name}}</zan-col>
    <zan-col col="10" style="font-size: 16px;color:#DE3639;">{{comjob.goldtext}}元</zan-col>
  </zan-row>
  <zan-row>
    <zan-col col="24">
      <block wx:if="{{comjob.zhusuname != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="" rightText="{{comjob.zhusuname}}" />
    </block>
    <block wx:if="{{comjob.FoodDname != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="" rightText="{{comjob.FoodDname}}" />
    </block>
    <block wx:if="{{comjob.Safename != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="" rightText="{{comjob.Safename}}" />
    </block>
    </zan-col>
  </zan-row>
</view>
<view class='OneConte' style="margin-top:0px;padding: 10px;">
  <zan-row style="font-size: 12px;">
    <zan-col col="16">{{comjob.recruitcompany.name}}</zan-col>
    <zan-col col="8">岗位招聘：{{comjob.neednum}} 人</zan-col>
  </zan-row>
</view>
<view class='OneConte' style="margin-top:0px;">
  <zan-panel class="panel-example"  wx:if="{{comjob.content != '' }}">
    <view class="zan-font-12" style="padding: 0 15px 15px; color:#666;">
      <template is="entry" data="{{...comjob.content}}" />
    </view>
  </zan-panel>
  <zan-panel class="panel-example  conmpany_pic" wx:if="{{comjob.recruitcompany.cimages != '' }}">
    <zan-row>
      <zan-col col="12" col-class="custom-zan-col imgsd" wx:key="PicArry"  wx:for="{{PicAllData}}">
        <image bindtap="pic_click" data-src="{{item}}" class="picarray" mode="aspectFill" 
        src="{{item}}"></image>
      </zan-col>
    </zan-row>
  </zan-panel>
</view> -->
<view class='imtop'>
  <image mode="widthFix" src='{{comjob.recruitcompany.cimage}}'></image>

  <view class="titlen centerT zan-font-bold zan-font-16">{{comjob.recruitcompany.name}}</view>
  <view style="color:#666;" class="centerT zan-font-12">工商注册号：{{comjob.recruitcompany.no}}</view>

  <view class='jiaonaol'>
    <block wx:if="{{comjob.zhusuname != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="住宿" rightText="{{comjob.zhusuname}}" />
    </block>
    <block wx:if="{{comjob.FoodDname != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="伙食" rightText="{{comjob.FoodDname}}" />
    </block>
    <block wx:if="{{comjob.Safename != '不提供' }}">
     <zan-capsule color="#DE3639" leftText="社保" rightText="{{comjob.Safename}}" />
    </block>
  </view>
</view>

<view class='OneConte'>
  <view class='contiel zan-font-bold zan-font-16'>
          <i class="fa fa-indent fa-fw"></i>
      岗位介绍
  </view>
  <view style='position: relative; overflow: hidden'>
    <zan-cell-group>
      <zan-cell title="职位名称" value="{{comjob.name}}"> </zan-cell>
      <zan-cell title="年龄" value="{{comjob.Agename}}"> </zan-cell>
      <zan-cell title="学历" value="{{comjob.Educationname}}"> </zan-cell>
      <zan-cell title="招聘人数" value="{{comjob.neednum}}"> </zan-cell>
      <zan-cell title="工作地点" value="{{comjob.recruitopencity.city}}"></zan-cell>
      <zan-cell title="发布时间" value="{{comjob.createtime}}"> </zan-cell>
      <zan-cell class="xinshui" title="工资薪水" >
      <zan-icon slot="icon" type="balance-pay"></zan-icon>
      <view slot="footer" class="xinshui" >{{comjob.goldtext}}</view>
      </zan-cell>
    </zan-cell-group>
  </view>
  <zan-panel class="panel-example">
    <image mode="widthFix" src="{{rzlcImg}}"></image>
  </zan-panel>
  <zan-panel class="panel-example"  wx:if="{{comjob.content != '' }}">
    <view style="padding: 15px 15px 5px;">更多职位描述</view>
    <view class="zan-font-12" style="padding: 0 15px 15px; color:#666;">
      <template is="entry" data="{{...comjob.content}}" />
    </view>
  </zan-panel>
</view>

<view class='OneConte'>
  <view class='contiel zan-font-bold zan-font-16'>
          <i class="fa fa-university fa-fw"></i>
      企业介绍
  </view>
  <view style='position: relative; overflow: hidden'>
    <zan-cell-group>
      <zan-cell title="企业性质" value="{{comjob.XinZhiname}}"></zan-cell>
      <zan-cell title="企业电话" value="{{comjob.recruitcompany.tel}}" isLink='true' bindtap="telmake"></zan-cell>
    </zan-cell-group>
  </view>
  <zan-panel class="panel-example">
    <view style="padding: 15px 15px 5px;">企业地址</view>
    <view class="zan-font-12" style="padding: 0 15px 15px; color:#666;">
      {{comjob.recruitcompany.adress}}
    </view>
  </zan-panel>
 
  <zan-panel class="panel-example"  wx:if="{{comjob.recruitcompany.content != '' }}">
    <view style="padding: 15px 15px 5px;">更多企业描述</view>
    <view class="zan-font-12" style="padding: 0 15px 15px; color:#666;">
      <template is="entry" data="{{...comjob.recruitcompany.content}}" />
      <rich-text nodes="{{comjob.recruitcompany.content}}"></rich-text>
    </view>
  </zan-panel>

  <zan-panel class="panel-example  conmpany_pic" wx:if="{{comjob.recruitcompany.cimages != '' }}">
    <view style="padding: 15px 15px 5px;">企业照片</view>
   <!-- <view style="padding: 0 15px 15px;" class="con_textall PicArryct">
      <image bindtap="pic_click" data-src="{{item}}" wx:key="PicArry"  wx:for="{{PicAllData}}" class="picarray" mode="aspectFill" 
      src="{{item}}"></image>
    </view>  -->
    <zan-row>
      <zan-col col="12" col-class="custom-zan-col imgsd" wx:key="PicArry"  wx:for="{{PicAllData}}">
        <image bindtap="pic_click" data-src="{{item}}" class="picarray" mode="aspectFill" 
        src="{{item}}"></image>
      </zan-col>
    </zan-row>
  </zan-panel>

</view>

<view class='OneConte'>
  <navigator url="/page/zh_company/ShowOneCompany?id={{comjob.recruitcompany.Id}}">
  <view style="text-align: center;line-height: 35px;color: blue;">该企业其他更多职位({{comjob.jobnum}})</view>
  </navigator>
</view>
<!-- <view class='OneConte'>
  <view class='contiel zan-font-bold zan-font-16'>
          <i class="fa fa-wechat fa-fw"></i>
      职位二维码
  </view>

  <view style='position: relative; overflow: hidden;text-align:center;margin:28rpx 0;padding-bottom:18rpx;'>
    <image mode="widthFix" src='{{QrcodeImg}}'></image>
  </view>

</view> -->
<navigator url="/page/other/jobHistory?id={{id}}"><view class="zwdb">职位对比</view></navigator>
 <!-- S 报名 -->
<view class="zan-btns" wx:if="{{ResumedeliveryData==null}}">
    <button class='zan-btn' bindtap="add_re" style='color:#fff;background-color:#DE3639;'>投递简历</button>
</view>
 <!-- E 报名 -->
<zan-panel wx:else class="cell-panel-demo" title="此职位您已投简历，请等待我们的联系。">
    <zan-cell title="{{ResumedeliveryData.re_name}}:{{ResumedeliveryData.re_tel}}" value="{{ResumedeliveryData.showtime}}">
      <zan-icon slot="icon" type="checked"></zan-icon>
    </zan-cell>
  </zan-panel>

<include src="../zh_other/foot_right.wxml"/>
<zan-dialog id="zan-dialog-test"></zan-dialog>