<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="mobile" data-format-item="{username} - {mobile}" class="form-control selectpage" name="row[user_id]" type="text" value="" data-search-field="username,mobile">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" data-rule="required" class="form-control" name="row[idcard]" type="text" value="">
        </div>
    </div>
    <input id="c-city_id"  name="row[city_id]" type="hidden" value="">
    <input id="c-service_id"  name="row[service_id]" type="hidden" value="">
    {if condition="$admin.type lt 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Labor_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="">
        </div>
    </div>
    {else/}
        <input id="c-labor_id"  type="hidden" name="row[labor_id]" value="{$admin.labor_id}">
    {/if}

    <div class="form-group" id="c-commission">
        <label class="control-label col-xs-12 col-sm-2">{:__('推广员提成/小时')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" min="0" class="form-control" name="row[commission]" id="commission" placeholder="推广员提成/小时">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}(正常/解雇):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" name="row[status]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-status" data-yes="1" data-no="0" >
            <i class="fa fa-toggle-on text-success fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
