<view class="focus">
  <!-- 轮播图 -->
    <!-- <swiper indicator-dots="true" autoplay="true" interval="3000" circular="true" duration="1000" class="swiper">
      <block wx:for="{{ bannerList }}" wx:key="key">
        <navigator url="{{item.url}}">
          <swiper-item>
            <image src="{{item.image}}"/>
            <text class="text">{{item.name}}</text>
          </swiper-item>
        </navigator>
      </block>
    </swiper> -->
    <view style="background-color: #FFE27B;height: 35px;line-height: 35px;font-size: 12px;color: #E86363;margin-bottom: -5px;">
      <image src="/assets/img/location.png" style="width: 12px;height: 15px;margin: 0px 10px;vertical-align: middle;margin-right:5px;"></image>
      <text bindtap="selcity">{{aername}}</text>
    </view>
    <view class="tjtop">
      <view style="text-align: right;font-size: 12px;color: #B56804;padding:0 10px;;padding-bottom: 0px;">
        <image src="/assets/img/jf.png" style="width: 18px;height: 18px;margin: 0px 5px;vertical-align: middle;"></image>
        <text style="line-height: 18px;">当前积分：{{score}}</text>
        <button class="goshop" bindtap="goshop">去兑换</button>
      </view>
      <view style="color: #FE0C0C;padding: 5px 15px;">
        <text style="font-size: 16px;font-weight: bold;">幸运一重礼</text>
        <text style="font-size: 12px;font-weight: bold;">  邀请获积分 汽车免费送 高薪职位等你!</text>
      </view>
      <view class="tjtop2">
        <view style="padding-left:18px;padding-right: 15px;">
          <zan-row>
            <zan-col col="20">
              <view style="height: 150rpx;line-height: 150rpx;font-size: 15px;">邀请获积分，领取五菱宏光MINI一台</view>
            </zan-col>
            <zan-col col="4">
            <view style="height: 150rpx;">
              <button class="goshare" bindtap="clickMe">去分享</button>
            </view> 
            </zan-col>
          </zan-row>
        </view>
      </view>
      <view style="height:50rpx;text-align: center;color: #fff;line-height: 50rpx;background-color: red;margin: 0 10px;font-size: 12px;">八戒求才--专注制造业一线人才技能工招聘</view>
    </view>
    <!-- <view class="overlay">
      <view class='sel_city' bindtap="selcity">
        <view class = "zan-capsule zan-capsule--">
          <view class = "zan-capsule__left" style="background: #38f; border-color: #38f">所属区域</view>
          <view class = "zan-capsule__right" style="color: #38f; border-color: #38f">{{aername}}</view>
        </view>
      </view>
    </view> -->
  </view>
<!-- 职位类型 S -->  
<view style="display:flex;height:150rpx;margin:10rpx 10px;justify-content:space-between">
  <navigator class="jobtype jobtype1" url="/page/zh_active/activeList"><view>招募活动</view></navigator>
  <navigator class="jobtype jobtype2" url="/page/sxjob/index"><view>时薪招聘</view></navigator>
  <view bindtap='gotto_jobslist' class="jobtype jobtype3">正式工</view>
</view>
<!-- 推荐企业 E -->

<!-- 推荐企业 S -->
<view id="swiper-tab">
  <view class="swiper-tab">
      <view class="swiper-tab-list {{currentTab==0 ? 'on' : ''}}" data-current="0" bindtap="tabNav">知名企业
      </view>
      <view class="swiper-tab-list {{currentTab==1 ? 'on' : ''}}" data-current="1" bindtap="tabNav">最新企业
      </view>
      <view class="swiper-tab-list {{currentTab==2 ? 'on' : ''}}" data-current="2" bindtap="tabNav">高薪急聘
      </view> 
  </view>
  <swiper current="{{currentTab}}" duration="1000" class="swiper-item" bindchange="Cnagetabfun">
      <swiper-item>
        <scroll-view scroll-x="true" style="margin-top:28rpx; white-space: nowrap; display: flex;height:220rpx; ">
          <navigator url="/page/zh_company/ShowOneCompany?id={{ item.Id }}" class='oneC-connew' wx:for="{{ companyList }}" wx:for-index="idx" wx:key="key">
              <view class="comview color{{idx%3+1}}">
                <view style="font-size:18px;padding:10px 0px;">{{item.name}}</view>
                <view>{{item.XinZhiname}} ({{item.jobCount}}个职位)</view>
              </view>
          </navigator>
        </scroll-view>
      </swiper-item>
      <swiper-item>
        <scroll-view scroll-x="true" style="margin-top:28rpx; white-space: nowrap; display: flex;height:220rpx; ">
          <navigator url="/page/zh_company/ShowOneCompany?id={{ item.Id }}" class='oneC-connew' wx:for="{{ companyList2 }}" wx:for-index="idx" wx:key="key">
              <view class="comview color{{idx%3+1}}">
                <view style="font-size:18px;padding:10px 0px;">{{item.name}}</view>
                <view>{{item.XinZhiname}} ({{item.jobCount}}个职位)</view>
              </view>
          </navigator>
        </scroll-view>
      </swiper-item>
      <swiper-item>
        <scroll-view scroll-x="true" style="margin-top:28rpx; white-space: nowrap; display: flex;height:220rpx; ">
          <navigator url="/page/zh_company/ShowOneCompany?id={{ item.Id }}" class='oneC-connew' wx:for="{{ companyList3 }}" wx:for-index="idx" wx:key="key">
              <view class="comview color{{idx%3+1}}">
                <view style="font-size:18px;padding:10px 0px;">{{item.name}}</view>
                <view>{{item.XinZhiname}} ({{item.jobCount}}个职位)</view>
              </view>
          </navigator>
        </scroll-view>
      </swiper-item>
  </swiper>
</view>
<!-- 推荐企业 E -->
<!-- <view class='complist'>
  <view class="til_conview">
    <text class="til_con">
      最新企业
    </text>
  </view>
  <scroll-view scroll-x="true" style="margin-top:28rpx; white-space: nowrap; display: flex;height:220rpx; ">
    <navigator url="/page/zh_company/ShowOneCompany?id={{ item.Id }}" class='oneC-connew' wx:for="{{ companyList }}" wx:for-index="idx" wx:key="key">
        <view class="comview color{{idx%3+1}}">
          <view style="font-size:18px;padding:10px 0px;">{{item.name}}</view>
          <view>{{item.XinZhiname}} ({{item.jobCount}}个职位)</view>
        </view>
    </navigator>
  </scroll-view>
</view> -->

<!-- 劳务工 S -->
<view class='jobs_list'  style="margin-top: 18rpx;">
  <view style="color:#DE3639;padding:10px 15px;margin-bottom:1px;background-color: white;font-weight: bold;">
    热门招募活动
    <navigator url="/page/zh_active/activeList" style="float:right;color:#999;font-size:12px;padding:5px 0px;font-weight: normal;">
      <text>全部 ></text>
    </navigator>
  </view>
  <navigator url="/page/zh_active/activeInfo?id={{ item.id }}" class='onejobs_c' wx:for="{{ activeList }}" wx:key="key">
    <zan-row>
      <zan-col col="18" col-class="custom-zan-col">
        <text class='j_name'>{{item.name}}</text>
        <text class='j_com'>报名开始时间：{{item.start_date}}</text>
        <text class='j_cont'>报名结束时间：{{item.end_date}}</text>
        <text class='j_com'>{{item.labor_name}}</text>
      </zan-col>
      <zan-col col="6" col-class="custom-zan-col">
        <text class='j_pric' style="text-align: right;">{{item.price}}元/时</text>
        <text class='j_cont' style="color:green;margin-top:10px;text-align: right;">{{item.settlement_type}}</text>
        <text class='j_cont' style="color:blue;text-align: right;">需要{{item.user_num}}人</text>      
      </zan-col>
      <!-- <zan-col col="4" col-class="custom-zan-col">
        <text class="bmbut">我要\n报名</text>
      </zan-col> -->
    </zan-row>
  </navigator>
  <view wx:if="{{activeList.length==0}}" style="font-size:12px;color:#ccc;text-align:center;background-color: white;line-height:25px;">暂无招募活动</view>
</view>
<!-- 劳务工 E -->

<!-- 时薪招聘 S -->
<view class='jobs_list'  style="margin-top: 18rpx;">
  <view style="color:#DE3639;padding:10px 15px;margin-bottom:1px;background-color: white;font-weight: bold;">
    最新时薪招聘
    <navigator url="/page/sxjob/index" style="float:right;color:#999;font-size:12px;padding:5px 0px;font-weight: normal;">
      <text>全部 ></text>
    </navigator>
  </view>
  <navigator url="/page/sxjob/info?id={{ item.id }}" class='onejobs_c' wx:for="{{ sxList }}" wx:key="key">
    <zan-row>
      <zan-col col="18" col-class="custom-zan-col">
        <text class='j_name'>{{item.name}}</text>
        <text class='j_cont' style="color:green;margin-top:10px;">{{item.settlement_type}}</text>
        <text class='j_com'>{{item.labor_name}}</text>
      </zan-col>
      <zan-col col="6" col-class="custom-zan-col">
        <text class='j_pric' style="text-align: right;">{{item.price}}元/时</text>     
        <text class='j_cont' style="color:blue;margin-top:10px;text-align: right;">需要{{item.user_num}}人</text>      
      </zan-col>
    </zan-row>
  </navigator>
  <view wx:if="{{sxList.length==0}}" style="font-size:12px;color:#ccc;text-align:center;background-color: white;line-height:25px;">暂无时薪招聘</view>
</view>
<!-- 时薪招聘 E -->


<!-- 职位列表 S -->
<view class='jobs_list'  style="margin-top: 18rpx;">
  <view style="color:#DE3639;padding:10px 15px;margin-bottom:1px;background-color: white;font-weight: bold;">最新职位招聘
    <view bindtap='gotto_jobslist' style="float:right;color:#999;font-size:12px;padding:5px 0px;font-weight: normal;">
      <text>全部 ></text>
    </view>
  </view>
  <navigator url="/page/zh_Jobs/ShowOneJob?id={{ item.Id }}" class='onejobs_c' wx:for="{{ JobsList }}" wx:key="key">
    <image wx:if="{{item.toptime>0}}" class="settop" src="/assets/img/settop.png"></image>
    <zan-row>
      <zan-col col="18" col-class="custom-zan-col">
        <text class='j_name'>{{item.name}}</text>
        <text class='j_cont'>{{item.zhusuname}} | {{item.Safename}} | {{item.Educationname}}</text>
        <text class='j_com'>{{item.recruitcompany.name}}</text>
      </zan-col>
      <zan-col col="6" col-class="custom-zan-col">
        <text class='j_pric'>{{item.goldtext}}</text>
        <text class='j_qita'>{{item.XinZhiname}}</text>
      </zan-col>
    </zan-row>
  </navigator>

<image class='index_endp' mode="widthFix" src='https://lg-jvaq236y-1255064220.cos.ap-shanghai.myqcloud.com/index_end.png'
  bindtap='gotto_jobslist'
></image>


   

</view>
<!-- 职位列表 E -->


  <!-- 关于城市的选项 -->
  <view class="actionsheet-container">
    <!-- 监听自定义事件 cancel 和 actionclick，绑定回调函数 -->
    <zan-actionsheet
      show="{{ show }}"
      actions="{{ actions }}"
      cancel-text="{{ cancelText }}"
      cancel-with-mask="{{ cancelWithMask }}"
      bind:cancel="closeActionSheet"
      bind:actionclick="handleActionClick"
    >
    </zan-actionsheet>
</view>

<!-- 海报生成 -->
<!-- <view hidden="{{ !showhb }}" class="canvas-box" style="width: {{ windowW }}px; height: {{ windowH }}px;">
  <canvas style="width: {{ windowW }}px; height: {{ windowH-30 }}px;" canvas-id="firstCanvas"></canvas>
  <view bindtap="closeImg" class="btnQx">取消</view>
  <view bindtap="daochu" class="btnSave">保存海报</view>
</view> -->
<view hidden="{{ !showhb }}" class="canvas-box2">
  <canvas style="width:90%;height:90%;margin:10px auto;" canvas-id="firstCanvas"></canvas>
  <view bindtap="closeImg" class="btnQx">取消</view>
  <view bindtap="daochu" class="btnSave">保存海报</view>
</view>

<!-- 用户协议 -->
<view class="mask" catchtouchmove='true' hidden="{{hidem==1}}"></view>
  <view class="model_box" hidden="{{hidem==1}}">
      <view class="mb-tit">用户隐私与协议</view>
      <view class="mb-content">
        <rich-text nodes="{{xyinfo}}"></rich-text>
      </view>
      <view class="checkbox">
        <view class="qx" bindtap="qrxy" style="padding: 10rpx;background-color: red;color:#fff;">我同意并确认</view>
        <!-- <view class="qr">
          <view style="font-size:22rpx;position:absolute;left:5%;display:flex;align-items:center;"><checkbox value="cb" checked="" bindtap="cb"/>勾选代表同意本协议的相关规定</view>
          <view bindtap="qx2" style="margin-right: 20rpx;">取消</view>
          <view bindtap="qr" style="padding: 10rpx;">确认</view>
        </view> -->
      </view>
</view>

<!-- <include src="../zh_other/foot_right.wxml"/> -->
<view class="zan-loadmore zan-loadmore--nomore">
  <view class="zan-loadmore__tips">
    <view class="zan-c-gray-dark" bindtap="telmakekf"> 客服电话：0758-3616910 </view>
      <view class="zan-c-gray-dark"> Copyright © 2021-2022 [八戒求才] 8jqc.cn </view>
  </view>
</view>
