/**基础风格样式**/
@import '/assets/libs/towxml/style/main.wxss';

/**主题配色（浅色样式）**/
@import '/assets/libs/towxml/style/theme/light.wxss';


@import "../../assets/libs/zanui/index.wxss";

.imtop{
  width: 100%;
  /*background-color: #DE3639;*/
  background-color: white;
  padding-bottom:20rpx;
  box-shadow: 2px 4px 6px #d6d6d6;
}
.imtop image{
  width: 100%;
  /*max-height: 480rpx;*/
  display:block;
}
.centerT{
  text-align: center;
}
.titlen{
  margin-top: 28rpx;
  margin-bottom: 18rpx;
  color: #DE3639;
}

.jiaonaol{
  margin:18rpx 30rpx;
  text-align:center;
}
.OneConte{
  background: white;
  margin-top: 28rpx;
  padding-top: 28rpx;
  box-shadow: 2px 4px 6px #d6d6d6;
}
.contiel{
  text-align:center;
  color: #DE3639;
}

.xinshui {
  color:#DE3639;
  font-weight: bold;
}
.con_textall.PicArryct{
  padding:1em 0.8em;
  text-align:left;
}

.picarray{
  width:360rpx;
  height:240rpx;
  margin:10rpx auto;
  position:relative;
  display:block;
}

.imgsd{
  /*padding-left:10rpx;*/
}

.phtb {
  background-color: #d21640 !important;
  border-radius: 18rpx;
  color: white;
  width: 6em;
  font-size: 10px;
  padding: 3px 3px;
  margin-left: 5px;
}

.intptel{
  -webkit-box-flex:1;
  flex:1;
  line-height:1.6;
  padding:4px 0;
  min-height:22px;
  height:auto;
  font-size:14px;
  margin-left:5px;
}