<!--page/train/index.wxml-->
<import src="/assets/libs/zanui/loadmore/index.wxml" />
<view class="focus">
  <swiper indicator-dots="true" autoplay="true" interval="3000" circular="true" duration="1000" class="swiper">
    <block wx:for="{{ bannerList }}" wx:key="key">
      <navigator url="/page/zh_news/index?id={{item.id}}">
        <swiper-item>
          <image src="{{item.image}}"/>
          <text class="text">{{item.name}}</text>
        </swiper-item>
      </navigator>
    </block>
  </swiper>
</view>
<view class='sousuyexy'>
   <zan-search
       placeholder="搜索相关技能或培训项目名称"
       inputStyle="height: 68rpx; border-radius: 100rpx;background-color:#eee;"
       keyword="{{ inputValue }}"
       bindsearch="searchDone"
       bindchange="searchChange"
       bindcancel="handleCancel"
   />
</view>
<zan-row>
  <zan-col col="12" wx:for="{{list}}">
    <navigator url="/page/train/info?id={{ item.id }}">
    <view style="background:#fff;margin:5px;">
      <view style="height:100px;">
        <image style="width:100%;height:100%;" src='{{item.image}}'></image>
      </view>
      <view style="font-size:16px;line-height:30px;padding:0px 5px;height: 30px;">{{item.name}}</view>
      <view style="font-size:12px;color:#999;padding:0px 5px;height: 50px;">{{item.intro}}</view>
      <view style="font-size:12px;margin-top:10px;line-height:25px;padding:0px 5px;height: 30px;">{{item.address}}</view>
      <view style="font-size:12px;line-height:25px;padding:0px 5px;">{{item.start_time_text}}</view>
    </view>
    </navigator>
  </zan-col>
</zan-row>

<!-- S 加载更多 -->
<template is="zan-loadmore" data="{{ loading: loading }}" />
<template is="zan-loadmore" data="{{ nodata: nodata }}" />
<template is="zan-loadmore" data="{{ nomore: nomore }}" />
<!-- E 加载更多 -->
