<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {if condition="$admin.type neq 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属机构:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type1" data-rule="required"  name="row[type]" type="radio" value="1"><label for="c-type1" style="margin-right: 10px;">拼团</label>
            <input id="c-type2" data-rule="required"  name="row[type]" type="radio" value="2"><label for="c-type2">限时</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报名开始日期')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="false" data-rule="required" name="row[start_date]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报名结束日期')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="false" data-rule="required" name="row[end_date]" type="text" value="">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工作时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-worktime" data-rule="required" class="form-control" name="row[worktime]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_num" data-rule="required" min="0" class="form-control" name="row[user_num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_type1" data-rule="required"  name="row[settlement_type]" type="radio" value="1"><label for="c-settlement_type1" style="margin-right: 10px;">月结</label>
            <input id="c-settlement_type2" data-rule="required"  name="row[settlement_type]" type="radio" value="2"><label for="c-settlement_type2">周结</label>
            <input id="c-settlement_type3" data-rule="required"  name="row[settlement_type]" type="radio" value="3"><label for="c-settlement_type3">日结</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工资/小时')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" min="0" class="form-control" name="row[price]" id="price" placeholder="工资/小时">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Head_open')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-head_open1" data-rule="required"  name="row[head_open]" type="radio" value="1" checked="checked"><label for="c-head_open1" style="margin-right: 10px;">开启</label>
            <input id="c-head_open2" data-rule="required"  name="row[head_open]" type="radio" value="0"><label for="c-head_open2">不开启</label>
        </div>
    </div>
    <div class="form-group" id="c-head_price">
        <label class="control-label col-xs-12 col-sm-2">{:__('团长提成/小时')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span>团长初级提成每人/小时</span><input type="number" min="0" class="form-control" name="row[head_price]" id="head_price" placeholder="团长初级提成每人/小时" value="">
            <span>每递增人数</span><input type="number" min="0" class="form-control" name="row[head_user_inc]" id="head_user_inc" placeholder="每递增人数" value="">
            <span>提成增加每人/小时</span><input type="number" min="0" class="form-control" step="0.2" name="row[head_price_inc]" id="head_price_inc" placeholder="提成增加每人/小时" value="">
            <span>封顶每人/小时</span><input type="number" min="0" class="form-control" name="row[head_max_price]" id="head_max_price" placeholder="封顶每人/小时" value="">
            <span style="color: blue;">例如：初级提成每人1元/小时，每递增10人，提成增加每人0.2元/小时，封顶3元。</span>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工作企业名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[company_name]" id="company_name" placeholder="工作企业名称">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工作地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-primary" data-toggle='addresspicker' data-input-id="address" data-lng-id="lng" data-lat-id="lat">点击选择地址获取经纬度</button>
            <input type="text" class="form-control" name="row[address]" id="address" placeholder="地址">
            <input type="text" class="form-control" name="row[lng]" id="lng" placeholder="经度">
            <input type="text" class="form-control" name="row[lat]" id="lat" placeholder="纬度">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>

    <input id="c-status" data-rule="required" min="0" class="form-control" name="row[status]" type="hidden" value="1">
    <input id="c-user_type" data-rule="required" min="0" class="form-control" name="row[user_type]" type="hidden" value="2">
    <input id="c-admin_id" data-rule="required" min="0" class="form-control" name="row[admin_id]" type="hidden" value="{$auth->id}">
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" min="0" class="form-control" name="row[status]" type="hidden" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_type" data-rule="required" min="0" class="form-control" name="row[user_type]" type="hidden" value="2">
            <input id="c-admin_id" data-rule="required" min="0" class="form-control" name="row[admin_id]" type="hidden" value="{$auth->id}">
        </div>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
