<!--page/head/activeList.wxml-->
<import src="/assets/libs/zanui/loadmore/index.wxml" />

<view class='onejobs_c' wx:for="{{ activeList }}" wx:key="key">
    <zan-row>
      <zan-col col="18" col-class="custom-zan-col">
        <text class='j_name'>{{item.name}}</text>
        <text class='j_com'>开始时间：{{item.start_date}}</text>
        <text class='j_cont'>结束时间：{{item.end_date}}</text>
      </zan-col>
      <zan-col col="6" col-class="custom-zan-col">
        <text class='j_cont' style="color:green;margin-top:0px;text-align: right;">{{item.settlement_type}}</text>
        <text class='j_cont' style="color:blue;text-align: right;">招聘{{item.user_num}}人</text>
        <text class='j_cont' style="color:red;text-align: right;">{{item.price}}元/小时</text>
        <navigator url="/page/zh_active/activeInfo?id={{ item.id }}">
          <view class='j_cont' style="text-align: right;"><button class="abt">详情</button></view>
        </navigator>
      </zan-col>
    </zan-row>
    <zan-row>
      <zan-col col="12" col-class="custom-zan-col">
        <button class="abt" data-id="{{item.id}}" bindtap="headjoinApply" style="margin:10px;" wx:if="{{item.join_status==-1}}">参团</button>
        <button class="abt" style="margin:10px;background:#cccccc;" wx:elif="{{item.join_status==0}}">已申请参团,待审核</button>
        <button class="abt" style="margin:10px;background:#cccccc;" wx:else>已参团</button>
      </zan-col>
      <zan-col col="12" col-class="custom-zan-col">
        <button class="abt" data-name="{{item.name}}" data-id="{{item.id}}" open-type="share" style="margin:10px;" wx:if="{{item.join_status==1}}">分享该活动</button>
        <button class="abt" style="margin:10px;background:#cccccc;" wx:else>分享该活动</button>
      </zan-col>
    </zan-row>
</view>

<!-- S 加载更多 -->
  <template is="zan-loadmore" data="{{ loading: loading }}" />
  <template is="zan-loadmore" data="{{ nodata: nodata }}" />
  <template is="zan-loadmore" data="{{ nomore: nomore }}" />
  <!-- E 加载更多 -->


