<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_id" data-rule="required" min="0" data-source="city/index" class="form-control selectpage" name="row[city_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Service_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-service_id" data-rule="required" min="0" data-source="service/index" class="form-control selectpage" name="row[service_id]" type="text" value="">
        </div>
    </div> -->
    <input id="c-city_id"  name="row[city_id]" type="hidden" value="">
    <input id="c-service_id"  name="row[service_id]" type="hidden" value="">
    {if condition="$admin.type lt 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Labor_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="">
        </div>
    </div>
    {else/}
        <input id="c-labor_id"  type="hidden" name="row[labor_id]" value="{$admin.labor_id}">
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_id" data-rule="required" min="0" data-source="recruit/company/index" class="form-control selectpage" name="row[company_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">白班工价(元/小时):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" min="0" class="form-control" step="0.01" name="row[price]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">夜班工价(元/小时):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price2" data-rule="required" min="0" class="form-control" step="0.01" name="row[price2]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-primary" data-toggle='addresspicker' data-input-id="address" data-lng-id="lng" data-lat-id="lat">点击选择地址获取经纬度</button>
            <input type="text" class="form-control" name="row[address]" id="address" placeholder="地址">
            <input type="text" class="form-control" name="row[lng]" id="lng" placeholder="经度">
            <input type="text" class="form-control" name="row[lat]" id="lat" placeholder="纬度">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('打卡误差范围/米')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-error_range" data-rule="required" min="0" class="form-control" step="1" name="row[error_range]" type="number" value="" placeholder="请输入打卡误差范围，单位米">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">打卡获得积分:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" data-rule="required" min="0" class="form-control" step="1" name="row[score]" type="number" value="0">
            <div style="color: red;font-size: 12px;">签到和签退各获得一次积分</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
