<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-danger btn-select btn-disabled disabled {:$auth->check('recruit_work/select')?'':'hide'}" data-url='recruit_work/sure_select' data-workid="{$work_id}" title="{:__('批量选择')}" ><i class="fa fa-check"></i> {:__('批量选择')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-select="{:$auth->check('recruit_work/select')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
