<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">开放城市:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-9">
                <div class='control-relative'><input id="c-city" data-rule="required" class="form-control" data-toggle="city-picker" placeholder="请选择省/市/区" data-level="district" name="row[city]" type="text" value=""></div>
            </div>
        </div>
    </div>
    <input id="province_code" type="hidden" name="row[province_code]" value="">
    <input id="city_code" type="hidden" name="row[city_code]" value="">
    <input id="district_code" type="hidden" name="row[district_code]" value="">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style type="text/css">
.content {min-height: 500px !important;}
</style>