/* page/location/index.wxss */
page{
  height: 100%;
}

.noIn{
  text-align: center;
  line-height: 35px;
  font-size: 21px;
  color:red;
}
.dkinfo{
  width: 90%; 
  height: 80px;
  position: fixed;
  top: 10px;
  left: 5%;
  background-color: white;
  border-radius: 5px;
}

.dkb {
  display: flex;
  align-items:center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-bottom: 10px;
}