<div class="panel panel-default panel-intro">
    <div class="panel-body">
    	<div style="text-align: center;">
	    	{if condition="$status eq 1"}
	    	<div style="text-align: center;font-size: 18px;">请用微信扫描二维码查看合同</div>
	    	<img src="__CDN__/adm.php/contract/getQrimg/url/{$url}" >
	    	{else/}
	    	{$error}
	    	{/if}
	    </div>
        
    </div>
</div>
