/* page/charge/index.wxss */
.wlist{
    text-align: center;
    font-size: 14px;
    background: #ffffff;
    margin-top: 2px;
    line-height: 35px;
    padding:10px;
}
.ctitle{
    text-align: left;
    color: #cccccc;
}