<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Birthday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-birthday" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[birthday]" type="text" value="{$row.birthday}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">电话:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" data-rule="required" class="form-control" name="row[tel]" type="text" value="{$row.tel}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-sex" data-rule="required" class="form-control selectpicker" name="row[sex]">
                {foreach name="sexList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.sex"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Education')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-education" data-rule="required" class="form-control selectpicker" name="row[education]">
                {foreach name="educationList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.education"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Native_place')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-9">
                     <div class='control-relative'><input id="c-native_place" data-rule="required" class="form-control" data-toggle="city-picker" placeholder="请选择省/市" data-level="city" name="row[native_place]" type="text" value="{$row.native_place}"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">薪资标准:</label>
        <div class="col-xs-12 col-sm-8 slider_double" style="left: 2%;" >
            <input class="form-control slider_double" style="width: 95%;" name="row[gold]"
            id="ex13" type="text" data-provide="slider" 
            data-slider-ticks="[3000, 4000, 5000, 6000, 7000,8000, 9000, 10000]" data-slider-ticks-snap-bounds="30" 
            data-slider-step="500"
            data-slider-ticks-labels='["3000及以内", "4000", "5000", "6000", "7000", "8000", "9000", "10000及以上"]'
            data-slider-value="[{$row.gold1},{$row.gold2}]"
            />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('work_city')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-work_city" data-rule="required" data-field="city" data-source="recruit/opencity/index" class="form-control selectpage" name="row[work_city]" type="text" value="{$row.work_city}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_avatar" data-rule="required" class="form-control" size="50" name="row[c_avatar]" type="text" value="{$row.c_avatar}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_avatar" class="btn btn-danger plupload" data-input-id="c-c_avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_avatar" class="btn btn-primary fachoose" data-input-id="c-c_avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-source="user/user" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
