<!--page/zh_active/addActive.wxml-->
<form bindsubmit="formSubmit">
  <view class="zan-panel">  
    <zan-field title="活动名称" name="name" value=''  placeholder="请输入活动名称" > </zan-field>
    <!-- <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">活动名称</view>
      <input type="text" name="name" value="" placeholder="请输入活动名称" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view> -->
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">报名开始日期</view>
      <picker style='flex:1;line-height:1.6;padding:4px 0;min-height:22px;height:auto;font-size:14px;color:#d21640;font-weight:600;text-align:center;'  mode="date" value="{{start_date}}"  bindchange="bindDateChange" name="start_date">
          <view>{{start_date}} </view>
        </picker>
       <view class="weui-cell__ft weui-cell__ft_in-access"></view>
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">报名结束日期</view>
      <picker style='flex:1;line-height:1.6;padding:4px 0;min-height:22px;height:auto;font-size:14px;color:#d21640;font-weight:600;text-align:center;'  mode="date" value="{{end_date}}"  bindchange="bindDateChange2" name="end_date">
          <view>{{end_date}} </view>
        </picker>
       <view class="weui-cell__ft weui-cell__ft_in-access"></view>
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">结算方式</view>
      <radio-group class="zan-field__input zan-cell__bd radio-group borleft" name='settlement_type'>
        <label class="radio">
          <radio value="1" color="#d21640" checked="true"/>月结
        </label>
        <label class="radio">
          <radio value="2" color="#d21640" checked=""/>周结
        </label>
        <label class="radio">
          <radio value="3" color="#d21640" checked=""/>日结
        </label>
      </radio-group>
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">劳务工时价(元/小时)</view>
      <input type="digit" name="price" value="" placeholder="请输入劳务工时价" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">招聘人数</view>
      <input type="number" name="user_num" value="0" placeholder="输入招聘人数" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">是否允许团长参与</view>
      <switch checked="{{head_open}}" bindchange="headOpenChange" name='head_open'/>
    </view>
    <view class="zan-cell zan-field" wx:if="{{head_open}}">
      <view class="zan-cell__hd zan-field__title">团长初级提成(元/小时)</view>
      <input type="digit" name="head_price" value="0" placeholder="请输入团长初级提成" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field" wx:if="{{head_open}}">
      <view class="zan-cell__hd zan-field__title">每递增人数</view>
      <input type="digit" name="head_user_inc" value="0" placeholder="请输入每递增人数" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field" wx:if="{{head_open}}">
      <view class="zan-cell__hd zan-field__title">提成增加(元/小时)</view>
      <input type="digit" name="head_price_inc" value="0" placeholder="请输入提成增加" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />
    </view>
    <view class="zan-cell zan-field" wx:if="{{head_open}}">
      <view class="zan-cell__hd zan-field__title">封顶(元/小时)</view>
      <input type="digit" name="head_max_price" value="0" placeholder="请输入封顶提成" class="zan-field__input zan-cell__bd" placeholder-class="zan-field__placeholder" />  
    </view>
    <view class="zan-cell zan-field" wx:if="{{head_open}}">
      <view style="color: blue;">例如：初级提成每人1元/小时，每递增10人，提成增加每人0.2元/小时，封顶3元。</view>
    </view>
    <view class="zan-cell zan-field">
      <view class="zan-cell__hd zan-field__title">活动说明</view>
      <textarea name='content' auto-height placeholder="活动说明" />
    </view>

  </view>

  <view class="zan-btns">
    <button formType="submit" class='zan-btn' style='color:#fff;background-color:#DE3639;'>提交</button>
  </view>
</form>
