<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {if condition="$admin.type neq 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属机构:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="{$row.labor_id|htmlentities}">
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_num" data-rule="required" min="0" class="form-control" name="row[user_num]" type="number" value="{$row.user_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Settlement_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-settlement_type1" data-rule="required"  name="row[settlement_type]" type="radio" value="1" {if condition="$row.settlement_type eq 1"}checked="checked"{/if}><label for="c-settlement_type1" style="margin-right: 10px;">月结</label>
            <input id="c-settlement_type2" data-rule="required"  name="row[settlement_type]" type="radio" value="2" {if condition="$row.settlement_type eq 2"}checked="checked"{/if}><label for="c-settlement_type2">周结</label>
            <input id="c-settlement_type3" data-rule="required"  name="row[settlement_type]" type="radio" value="3" {if condition="$row.settlement_type eq 3"}checked="checked"{/if}><label for="c-settlement_type3">日结</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工资/小时')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="number" min="0" class="form-control" name="row[price]" id="price" placeholder="工资/小时" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>

    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
