<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input id="c-city_id"  name="row[city_id]" type="hidden" value="">
    <input id="c-service_id"  name="row[service_id]" type="hidden" value="">
    {if condition="$admin.type lt 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('关联劳务机构')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="">
        </div>
    </div>
    {else/}
        <input id="c-labor_id"  type="hidden" name="row[labor_id]" value="{$admin.labor_id}">
    {/if}

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('关联用户')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="" min="0" data-source="user/user/index" data-field="username" data-format-item="{username} - {mobile}"  data-search-field="username,mobile" data-format-item="{username} - {mobile}"  data-search-field="username,mobile" class="form-control selectpage" name="row[user_id]" type="text" value="">

            <div style="color: red;font-size: 12px;">如果员工还未注册会员，可以不关联用户，系统会自动用手机号码和身份证注册会员并关联！</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">关联{:__('Agent_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_user_id" data-rule=""  min="0" data-source="user/user/index" data-field="username" data-format-item="{username} - {mobile}"  data-search-field="username,mobile" class="form-control selectpage" name="row[agent_user_id]" type="text" value="">
            <div style="color: red;font-size: 12px;">若无关联推广员不要选择！</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required;mobile" class="form-control" name="row[phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('身份证号码')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" data-rule="required;IDcard" class="form-control" name="row[idcard]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['2'=>__('已签合同') , '1'=>__('已入职，待签合同')])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
