<div class="panel panel-default panel-intro">
    <div class="panel-body">
    	<div>
	    	{$contract_tpl}
	    	{if condition="$url neq ''"}
	    	<img src="{$url}" style="width: 100px;height: 100px;position: absolute;right: 100px;bottom: 50px;">
	    	{/if}
	    </div>
        
    </div>
</div>
