<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Active_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-active_id" data-rule="" disabled="disabled" min="0" data-source="recruit_active/index" class="form-control selectpage" name="row[active_id]" type="text" value="{$row.active_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('关联用户')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" disabled="disabled" min="0" data-source="user/user/index" data-field="username" data-format-item="{username} - {mobile}"  data-search-field="username,mobile" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">关联{:__('Agent_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-agent_user_id" data-rule=""  {if condition="$row.active_id gt 0"}disabled="disabled"{/if}  min="0" data-source="user/user/index" data-field="username" data-format-item="{username} - {mobile}"  data-search-field="username,mobile" class="form-control selectpage" name="row[agent_user_id]" type="text" value="{$row.agent_user_id|htmlentities}">
            <div style="color: red;font-size: 12px;">若无关联推广员不要选择！</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required;mobile" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('身份证号码')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" data-rule="required;IDcard" class="form-control" name="row[idcard]" type="text" value="{$row.idcard|htmlentities}">
        </div>
    </div>
    {if condition="$row.status lt 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['2'=>__('已签合同') , '1'=>__('已入职，待签合同')],$row['status'])}
        </div>
    </div>
    {/if}
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
