<!--page/other/jobHistory.wxml-->
<import src="/assets/libs/zanui/loadmore/index.wxml" />

<view class='sousuyexy'>
   <zan-search
       placeholder="输入姓名、电话搜索"
       inputStyle="height: 68rpx; border-radius: 100rpx;background-color:#eee;"
       keyword="{{ inputValue }}"
       bindsearch="searchDone"
       bindchange="searchChange"
       bindcancel="handleCancel"
   />
</view>
<!-- 列表 start -->
<view class='jobs_list'  style="margin-top: 18rpx;">
 <checkbox-group bindchange="checkboxChange"> 
 <view class='onejobs_c' wx:for="{{ comjob }}" wx:key="key">
   <zan-row>
     <zan-col col="3" col-class="custom-zan-col">
       <checkbox value="{{item.id}}" checked="{{item.checked}}" style="margin-top:20px;"/>
     </zan-col>
     <zan-col col="21" col-class="custom-zan-col">
       <text class='j_name'>{{item.name}}</text>
       <text class='j_cont'>{{item.phone}} | {{item.idcard}}</text>
     </zan-col>
   </zan-row>
  </view>
  </checkbox-group>
</view>
<!-- 列表 end -->
<button class='godb' bindtap="godb">确认添加</button>

 <!-- S 加载更多 -->
 <template is="zan-loadmore" data="{{ loading: loading }}" />
 <template is="zan-loadmore" data="{{ nodata: nodata }}" />
 <template is="zan-loadmore" data="{{ nomore: nomore }}" />
 <!-- E 加载更多 -->
