<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Year')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[year]" style="height: 30px;" disabled="disabled">
                <option value="2021" {if condition="$row.year eq '2021'"}selected="selected"{/if}>2021年</option>
                <option value="2022" {if condition="$row.year eq '2022'"}selected="selected"{/if}>2022年</option>
                <option value="2023" {if condition="$row.year eq '2023'"}selected="selected"{/if}>2023年</option>
                <option value="2024" {if condition="$row.year eq '2024'"}selected="selected"{/if}>2024年</option>
                <option value="2025" {if condition="$row.year eq '2025'"}selected="selected"{/if}>2025年</option>
                <option value="2026" {if condition="$row.year eq '2026'"}selected="selected"{/if}>2026年</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[month]" style="height: 30px;" disabled="disabled">
                <option value="1" {if condition="$row.month eq '1'"}selected="selected"{/if}>1月</option>
                <option value="2" {if condition="$row.month eq '2'"}selected="selected"{/if}>2月</option>
                <option value="3" {if condition="$row.month eq '3'"}selected="selected"{/if}>3月</option>
                <option value="4" {if condition="$row.month eq '4'"}selected="selected"{/if}>4月</option>
                <option value="5" {if condition="$row.month eq '5'"}selected="selected"{/if}>5月</option>
                <option value="6" {if condition="$row.month eq '6'"}selected="selected"{/if}>6月</option>
                <option value="7" {if condition="$row.month eq '7'"}selected="selected"{/if}>7月</option>
                <option value="8" {if condition="$row.month eq '8'"}selected="selected"{/if}>8月</option>
                <option value="9" {if condition="$row.month eq '9'"}selected="selected"{/if}>9月</option>
                <option value="10" {if condition="$row.month eq '10'"}selected="selected"{/if}>10月</option>
                <option value="11" {if condition="$row.month eq '11'"}selected="selected"{/if}>11月</option>
                <option value="12" {if condition="$row.month eq '12'"}selected="selected"{/if}>12月</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" disabled="disabled" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    {if condition="$admin.type neq 3"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Labor_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-labor_id" data-rule="required" disabled="disabled" data-source="recruit_labor/index" class="form-control selectpage" name="row[labor_id]" type="text" value="{$row.labor_id|htmlentities}">
        </div>
    </div>
    {/if}
    <!-- 工时计算 -->
    <div class="form-group" style="text-align: center;color: blue;">------------------------考勤明细----------------------</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">总天数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_day" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_day]" type="text" value="{$row.total_day|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">白班工时:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_time_b" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_time_b]" type="text" value="{$row.total_time_b|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">白班工资:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_money_b" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_money_b]" type="text" value="{$row.total_money_b|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">夜班工时:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_time_y" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_time_y]" type="text" value="{$row.total_time_y|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">夜班工资:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_money_y" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_money_y]" type="text" value="{$row.total_money_y|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_time" data-rule="required" min="0" disabled="disabled" class="form-control" name="row[total_time]" type="text" value="{$row.total_time|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_money" data-rule="required" min="0" disabled="disabled" class="form-control" step="0.01" name="row[total_money]" type="number" value="{$row.total_money|htmlentities}">
        </div>
    </div>

   <!-- 补贴计算 -->
   <div class="form-group" style="text-align: center;color: blue;">------------------------补贴明细----------------------</div>
   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">夜班补贴:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subsidy_money_y" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[subsidy_money_y]" type="number" value="{$row.subsidy_money_y|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">体检补贴:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subsidy_money_tj" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[subsidy_money_tj]" type="number" value="{$row.subsidy_money_tj|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">岗位补贴:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subsidy_money_gw" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[subsidy_money_gw]" type="number" value="{$row.subsidy_money_gw|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">餐费补贴:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subsidy_money_cf" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[subsidy_money_cf]" type="number" value="{$row.subsidy_money_cf|htmlentities}">
        </div>
    </div>

   <!-- 扣款计算 -->
   <div class="form-group" style="text-align: center;color: blue;">------------------------扣款明细----------------------</div>
   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">未满一个月扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_wm" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_wm]" type="number" value="{$row.deduction_money_wm|htmlentities}">
        </div>
    </div>
   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">工衣扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_gy" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_gy]" type="number" value="{$row.deduction_money_gy|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">充值金额扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_cz" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_cz]" type="number" value="{$row.deduction_money_cz|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">应扣餐费:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction__money_cf" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction__money_cf]" type="number" value="{$row.deduction__money_cf|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">水电费扣款:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_sdf" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_sdf]" type="number" value="{$row.deduction_money_sdf|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">其他扣款:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_sb" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_sb]" type="number" value="{$row.deduction_money_sb|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">罚款扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_fk" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_fk]" type="number" value="{$row.deduction_money_fk|htmlentities}">
        </div>
    </div>
    <div class="form-group" style="text-align: center;color: blue;">------------------------应发工资----------------------</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">应发工资:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yf_money" data-rule="required" min="0" class="form-control" step="0.01" name="row[yf_money]" type="number" value="{$row.yf_money|htmlentities}">
        </div>
    </div>
    <div class="form-group" style="text-align: center;color: blue;">------------------------其他扣款----------------------</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">个税扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_gs" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_gs]" type="number" value="{$row.deduction_money_gs|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">预支扣除:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_money_yz" data-rule="required" min="0"  class="form-control money" step="0.01" name="row[deduction_money_yz]" type="number" value="{$row.deduction_money_yz|htmlentities}">
        </div>
    </div>
    <div class="form-group" style="text-align: center;color: blue;">------------------------实发工资----------------------</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_money" data-rule="required" min="0" class="form-control" step="0.01" name="row[send_money]" type="number" value="{$row.send_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['0'=>__('待确认') , '1'=>__('已确认'),'2'=>'已反馈','3'=>'已转账'],$row['status'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" data-rule="" class="form-control" name="row[remark]" type="text" value="{$row.remark|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
